turnip_workdir/*/*
turnip_workdir_gl/*/*
panfrostmali/*/*
*/turnip_module
*/mesa/
*/*.log
*/*.so
*/*.zip
meson_feature
help
.vscode
!turnip_workdir/android-ndk/deps/
!turnip_workdir/android-ndk/pkgconfig/
!turnip_workdir_gl/android-ndk/deps/
!turnip_workdir_gl/android-ndk/pkgconfig/
!panfrostmali/android-ndk/deps/
!panfrostmali/android-ndk/pkgconfig/
